.tareasRutas {
  text-decoration: none;
}

.content-Proyecto {
  display: flex;
  gap: 2%;
  height: 30%;
  margin-top: 2%;
}

/*Informacion del proyecto*/
.cont-Proy-Info {
  width: 70%;
  background-image: url('../../../../assets/img/Imagenes_RibbitDary/fondo-cuadros-verdes-gris.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, transform 0.3s;
}

.cont-Proy-Info:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cont-Proy-Info-1 {
  padding: 2%;
  display: flex;
  gap: 20%;
  margin-top: -5%;
}

.cont-Proy-Info-1 h2 {
  color: white;
  font-size: 1em;
}

.cont-Proy-Info-1 h3 {
  color: white;
  font-size: .9em;
}

.cont-Proy-Info-1 p {
  color: white;
  font-size: .95em;
}

/*Nombre proyecto*/
.if-Pro-1 {
  display: flex;
  gap: 10px;
  padding: 1%;
}

.if-Pro-1 h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 3.3%;
}

.if-Pro-1 h3 {
  color: white;
  font-size: 1.5em;
}

.if-Pro-2 {
  width: 100%;
}

/*Creador*/

.users {
  display: flex;
  gap: 10%;
  padding: 4%;
  margin-bottom: -5%;
}

.users p {
  font-size: .95em;
}

.users img {
  height: 55px;
  width: 58px;
  border-radius: 100%;
}

/*Progreso y presupuesto*/
.presu-pro {
  display: flex;
  gap: 5%;
}


/*Proposito*/
.container-Col-Pro {
  width: 30%;

}

.cont-Col-Info-Pro h3 {
  font-size: 1em;
  text-align: center;
}

.cont-Col-Info-Pro {
  border-radius: 10px;
  background-image: url('../../../../assets/img/Imagenes_RibbitDary/fondo-cuadros-cafes.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  color: white;
  height: 75%;
  padding: 1% 0% 4% 6%;
}

.cont-Col-Info-Pro p {
  font-size: 1em;
}

/*Barra de progreso*/
/* Estilos generales para los botones */

.project-actions {
  width: 12%;
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;

}

/* Botón de editar */
.btn-edit {
  background-color: #4CAF50;
  color: white;
  height: 50px;
  width: 100px;
}

.btn-edit:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

/* Botón de borrar */
.btn-delete {
  background-color: #f44336;
  color: white;
  width: 200px;
}

.btn-delete:hover {
  background-color: #e53935;
  transform: scale(1.05);
}


/* Contenedor para alinear la barra de búsqueda y el filtro */
.search-filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 800px;
  /* Ajusta según tu diseño */
  margin: 0 auto;
  /* Centrar el contenedor */
  gap: 20px;
  /* Espacio entre la búsqueda y el filtro */
}

.search-form {
  flex-grow: 2;
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  color: #155724;
}

.search-button {
  background-color: #28a745;
  border: none;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  color: white;
}

.FiltroProyectos {
  flex-grow: 1;
}

.FiltroProyectos select {
  width: 100%;
  height: 35px;
  background-color: rgb(107, 214, 233);
  color: #fff;
  border: 2px solid rgb(77, 162, 201);
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 0.9em;
}

.FiltroProyectos select:hover {
  background-color: rgb(107, 214, 233);
  border: 2px solid rgb(77, 162, 201);
}

.FiltroProyectos select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(104, 179, 139, 0.5);
}


/* Contenedor de la barra de progreso */
.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  /* Color de fondo de la barra */
  border-radius: 4px;
  height: 20px;
  /* Altura de la barra */
  overflow: hidden;
  position: relative;
}

/* Barra de progreso */
.progress-bar {
  height: 100%;
  border-radius: 4px;
  transition: width 0.3s ease, background 0.3s ease;
  /* Transición suave al cambiar el ancho y el color */
}

/*Estatus del proyecto*/
.complet {
  padding: 5px;
}

.complet select {
  height: 50px;
  background-color: rgb(89, 156, 123);
  color: #fff;
  border: 2px solid rgb(76, 130, 103);
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 0.9em;
}

.complet select:hover {
  background-color: rgb(104, 179, 139);
  border-color: rgb(89, 156, 123);
}

.complet select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(104, 179, 139, 0.5);
}


/* Responsivo */
@media (max-width: 768px) {

  .project-actions {
    flex-direction: column;
    width: 5px;
  }

  .complet {
    padding: 5px;
  }

  .complet select {
    width: 50px;
  }

  /* Botón de editar */
  .btn-edit {
    padding: 0%;
    height: 50px;
    width: 50px;
  }

  /* Botón de borrar */
  .btn-delete {
    padding: 0%;
    height: 50px;
    width: 50px;
  }

  .cont-Proy-Info {
    width: 200%;
    margin-top: 15px;
  }

  .cont-Col-Info-Pro {
    display: none;
  }

  .presu-pro{
    display: inline;
    gap: 0;
  }
  
  .if-Pro-1 h2 {
    font-size: 1.3em;
  }
  
  .if-Pro-1 h3 {
    padding: 0;
    font-size: 1.1em;
  }
}