<header>
    <app-navigation></app-navigation>
    <app-nav-nar-lat></app-nav-nar-lat>
</header>

<div class="body">
    <div class="container">
        <div class="user-card" *ngFor="let socio of socios">
            <div class="user-info">
                <img [src]="socio.icono" alt="Imagen del Usuario">
                <div class="user-details">
                    <h1>{{ socio.nombres }}</h1>
                    <p>{{ socio.aPuP }}</p>
                    <p>{{ socio.aPuM }}</p>
                </div>
            </div>
            <div class="projects">
                <h2>Proyectos Involucrados</h2>
                <ul>
                    <!-- Aquí podrías agregar una lista dinámica de proyectos si tu API la proporciona -->
                    <li *ngFor="let proyecto of socio.proyectos">{{ proyecto.nombre }}</li>
                </ul>
            </div>
            <div class="actions">
                <button class="edit-btn">Editar</button>
                <button class="delete-btn">Borrar</button>
            </div>
        </div>
    </div>

    <a routerLink="/crear-socios" class="add-btn">+</a>
</div>