<header>
  <app-navigation></app-navigation>
  <app-nav-nar-lat></app-nav-nar-lat>
</header>


<body class="body">
  
  <div class="body1">
    <div class="container">
      <form class="user-form">
        <h1 class="bienvenido">
          {{ edit ? "Editar Usuario" : "Crea tus socios" }}
        </h1>

        <label for="nombres">Nombres:</label>
        <input
          type="text"
          id="nombres"
          name="nombres"
          [(ngModel)]="crearSocio.nombres"
        />

        <label for="aPuP">Apellido Paterno:</label>
        <input
          type="text"
          id="aPuP"
          name="aPuP"
          [(ngModel)]="crearSocio.aPuP"
        />

        <label for="aPuM">Apellido Materno:</label>
        <input
          type="text"
          id="aPuM"
          name="aPuM"
          [(ngModel)]="crearSocio.aPuM"
        />

        <label for="usuario">Correo Electrónico:</label>
        <input
          type="text"
          id="usuario"
          name="usuario"
          [(ngModel)]="crearSocio.usuario"
        />

        <label for="contraseña">Contraseña:</label>
        <input
          type="password"
          id="contraseña"
          name="contraseña"
          [(ngModel)]="crearSocio.password"
          [disabled]="edit"
        />

        <label for="contraseñaconfirma">Confirma Contraseña:</label>
        <input
          type="password"
          id="contraseñaconfirma"
          name="contraseñaconfirma"
          [(ngModel)]="confirmpass"
          [disabled]="edit"
        />

        <label for="icono">Avatar:</label>
        <select id="icono" name="icono" [(ngModel)]="crearSocio.icono">
          <option value="" disabled selected>Selecciona un icono</option>
          <option value="../../../../assets/img/Icon-User/icon-user-1.jpg">
            Rana simple
          </option>
          <option value="../../../../assets/img/Icon-User/icon-user-2.jpg">
            Rana rizada
          </option>
          <option value="../../../../assets/img/Icon-User/icon-user-3.jpg">
            Rana de la alta curnia
          </option>
          <option value="../../../../assets/img/Icon-User/icon-user-4.jpg">
            Rana de gym
          </option>
          <option value="../../../../assets/img/Icon-User/icon-user-5.jpg">
            Rana cute
          </option>
        </select>

        <button type="button" (click)="edit ? updateSocio() : crearSocios()">
          {{ edit ? "Actualizar Usuario" : "Crear Socio" }}
        </button>
      </form>
    </div>
    <div class="container2">
      <img
        *ngIf="crearSocio.icono"
        [src]="crearSocio.icono"
        alt="Icono seleccionado"
      />
    </div>
  </div>
</body>
